/* Google font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: "Open Sans", sans-serif;
}

/* Banner style start */
header{
    width: 1440px;
    height: 652px;
    margin: 0 auto;
    background-image: url('../assets/Hero-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-container{
    width: 998px;
    height: 581px;
    margin: 0 auto;
    margin-top: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.banner-title{
    margin-top: 43px;
     font-size: 48px;
     font-weight: 800;
}

.banner-description{
    font-size: 16px;
    font-weight: 400;
    margin-top: 24px;
    color: rgb(13, 19, 33);
}



.banner-btn{
    margin-top: 30px;
    border-radius: 8px;
    background-color: black;
    color: white;
    font-size: 20px;
    font-weight: 600;
    padding: 21px 24px 21px 24px;
}

/* why web Devolopment section styles */
.why-section{
    width: 1140px;
    height: 1393px;
    margin: 0 auto;
    margin-top: 74px;
    background: rgba(13, 19, 33, 0.02);
}

.why-header-section{
    width: 852px;
    height: 113px;
    margin: 0 auto;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.why-header-section h2{
    font-size: 32px;
    font-weight: 800;
}

.why-header-section p{
    font-size: 16px;
    font-weight: 400;
    margin-top: 20px;
}

/* World section style strat */
.world-section, .system-section, .world-sectionn{
    width: 946px;
    height: 336px;
    margin: 0 auto;
    margin-top: 48px;
    display: flex;
    padding: 50px;
    background-color: rgb(247, 247, 252);
    border-radius: 16px;
}

.world-section-contant, 
.system-section-contant,
.world-sectionn-contant{
    width: 477px;
    height: 219px;
    margin: 0 auto;
}

.world-section-contant h3,
.system-section-contant h3,
.world-sectionn-contant h3{
    font-size: 24px;
    font-weight: 700;
    margin-top: 15px;
    color: rgba(13, 19, 33, 0.7);
}

.world-section-contant p,
.system-section-contant p,
.world-sectionn-contant p{
    font-size: 16px;
    font-weight: 400;
    margin-top: 18px;
}

.lorem-btn{
    padding: 12px 20px 12px 20px;
    font-size: 20px;
    font-weight: 600;
    margin-top: 20px;
}


.layer-img,
.group3-img,
.group4-img{
    width: 259px;
    height: 217px;
    margin: 0 auto;
}












