/* Google font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: "Open Sans", sans-serif;
}

/* Banner style start */
header{
    width: 1440px;
    height: 652px;
    margin: 0 auto;
    background-image: url('../assets/Hero-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-container{
    width: 998px;
    height: 581px;
    margin: 0 auto;
    margin-top: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.banner-title{
    margin-top: 43px;
     font-size: 48px;
     font-weight: 800;
}

.banner-description{
    font-size: 16px;
    font-weight: 400;
    margin-top: 24px;
    color: rgb(13, 19, 33);
}



.banner-btn{
    margin-top: 30px;
    border-radius: 8px;
    background-color: black;
    color: white;
    font-size: 20px;
    font-weight: 600;
    padding: 21px 24px 21px 24px;
}

/* why web Devolopment section styles */
.why-section{
    width: 1140px;
    height: 1393px;
    margin: 0 auto;
    margin-top: 74px;
    background: rgba(13, 19, 33, 0.02);
}

.why-header-section{
    width: 852px;
    height: 113px;
    margin: 0 auto;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.why-header-section h2{
    font-size: 32px;
    font-weight: 800;
}

.why-header-section p{
    font-size: 16px;
    font-weight: 400;
    margin-top: 20px;
}

/* World section style strat */
.world-section, .system-section, .world-sectionn{
    width: 946px;
    height: 336px;
    margin: 0 auto;
    margin-top: 48px;
    display: flex;
    padding: 50px;
    background-color: rgb(247, 247, 252);
    border-radius: 16px;
}

.world-section-contant, 
.system-section-contant,
.world-sectionn-contant{
    width: 477px;
    height: 219px;
    margin: 0 auto;
}

.world-section-contant h3,
.system-section-contant h3,
.world-sectionn-contant h3{
    font-size: 24px;
    font-weight: 700;
    margin-top: 15px;
    color: rgba(13, 19, 33, 0.7);
}

.world-section-contant p,
.system-section-contant p,
.world-sectionn-contant p{
    font-size: 16px;
    font-weight: 400;
    margin-top: 18px;
}

.lorem-btn{
    padding: 12px 20px 12px 20px;
    font-size: 20px;
    font-weight: 600;
    margin-top: 20px;
}


.layer-img,
.group3-img,
.group4-img{
    width: 259px;
    height: 217px;
    margin: 0 auto;
}

/* My Inspiration section styles start*/
.Inspiration-section-container{
    width: 1140px;
    height: 775px;
    margin: 0 auto;
    margin-top: 90px;
} 

.Inspiration-text-section{
    width: 852px;
    height: 113px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}
.Inspiration-text-section h3{
    font-size: 32px;
    font-weight: 800;
}
.Inspiration-text-section p{
    font-size: 16px;
    font-weight: 400;
    margin-top: 20px;
}

/*  */
.inspiration-youtub-vedio{
    width: 1140px;
    height: 639px;
    border: 2px solid rgb(235, 245, 238);
    margin-top: 70px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 18px;
}

.inspiration-youtub-vedio iframe{
    border-radius: 18px;
}


/*  My Current Target Section styles start */
.target-section-container{
     width: 1140px;
     height: 460px;
     margin: 0 auto;
     margin-top: 151px;
}

.target-section-text-contain{
    width: 852px;
    height: 113px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.target-section-text-contain h3{
    font-size: 32px;
    font-weight: 800;
}
.target-section-text-contain p{
    font-size: 16px;
    font-weight: 400;
    margin-top: 10px;
    text-align: center;
}

/* target card section   */
.target-section-card-contain{
    width: 1140px;
    height: 299px;
    margin-top: 48px;
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.target-card1{
    width: 364px;
    height: 299px;
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
}
.target-card2{
    width: 364px;
    height: 299px;
    border-radius: 16px;
    background: rgba(0, 76, 232, 0.05);
}
.target-card3{
    width: 364px;
    height: 299px;
    border-radius: 16px;
    background: rgba(255, 223, 0, 0.05);

}

.target-card-item{
    width: 300px;
    height: 219px;
    margin: 0 auto;
    margin-top: 40px;
}

.target-card-item h3{
    font-size: 24px;
    font-weight: 800;
    margin-top: 32px;
}

.target-card-item p{
    font-size: 16px;
    font-weight: 400;
    margin-top: 8px;
    margin-bottom: 16px;
}
.target-card-item a{
    font-size: 16px;
    font-weight: 700;
    color: rgb(13, 19, 33);
}
/* My Current Target Section styles end */

/* support section styles start */
.support-section-container{
    width: 1140px;
    height: 313px;
    margin: 0 auto;
    margin-top: 49px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(0, 0, 0, 0.4);
    background-image: url('../assets/handshake.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: overlay;
    border-radius: 16px;
}

.support-section-content{
    width: 1044px;
    height: 185px;
    margin: 0 auto;
    margin: 64px 48px;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.support-section-content h3{
    font-size: 32px;
    font-weight: 700;
    padding-bottom: 10px;
    color: white;
}
.support-section-content p{
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 20px;
    color: white;
}

.text{
    width: 548px;
    height: 57px;
    padding: 19px 20px 19px 20px;
    margin-right: 8px;
    background: rgb(255, 255, 255);
    border-radius: 8px;
    font-size: 20px;
    font-weight: 400;
    color: #474747;
}
.submit{
    width: 120px;
    height: 57px;
    padding: 17px 20px 17px 20px;
    background: rgb(255, 255, 255);
    border-radius: 8px;
    font-size: 20px;
    font-weight: 600;
}
/* support section styles end */